[project]
name = "doihive"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "requests>=2.31.0",
]

[dependency-groups]
dev = [
    "black>=25.12.0",
]
